/*
global css section
*/

*{
	margin: 0;
	padding: 0;
}
/* google font*/
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
*/
/*
Header section css code
*/
header{
	width: 100%;
	background-image:url(../img/banner.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	height:100vh;
}
.navber{
	padding-top: 1rem !importent;
	padding-bottom: 1rem !importent;
}
.nav-link{
	font-family: 'Bebas Neue', cursive;
	font-weight: bold;
	text-transform: uppercase;
	color: #3d2514 !importent
}
.nav-item{
	margin: 0 20px;
}
.banner-text{
	height: 88vh;
	display: table-cell;
	vertical-align: middle;
}
header p{
	font-family: 'Bebas Neue', cursive;
	color: #3d2514;
	font-size: 24px;
	border: 2px dashed #3d2514;
    padding: 6px 25px;
    display: inline-block;
}
header h1{
	font-family:'Bebas Neue', cursive;
	color: #3d2514;
	font-size: 114px;
	font-weight: 400px;
	text-transform: uppercase;
	text-shadow: 4px 4px rgba(255,255,255,0.7)

}
header h2{
	font-family: 'Bebas Neue', cursive;
	color: #3d2514;
	font-size: 64px;
	font-weight: 400px;
	text-transform: uppercase;
	text-shadow: 4px 4px rgba(255,255,255,0.7)

}
/*post galllery css section start here*/
.post-gallery{
	width: 100%;
	padding: 80px 0px;
}
.post-content h4{
	font-family: 'Bebas Neue', cursive;
	font-size: 25px;
	font-weight: bold;
	color: #fff;

}
.post-content h2{
	font-family: 'Bebas Neue', cursive;
	font-size: 42px;
	font-weight: bold;
	color: #fff;
}
.post{
	position: relative;
}
.post-content{
	position: absolute;
	top: 32px;
	left: 32px;
}
.bottom{
	margin: 32px;
}
.view-more{
	background-color:#ffc045;
	color: #3d2514;
	border: none;
	padding: 12px 4px;
	text-transform: uppercase;
	font-weight: bold;
}
/*Burger section  css code*/
.burger-type{
	width: 100%;
	padding: 40px;
}
.burger-type h1{
	font-family:'Montserrat', sans-serif; 
	color:#3d2514;
	font-size: 52px;
	text-transform: uppercase; 

}
.burger-type p{
	font-family: 'Montserrat', sans-serif;
	color:#3d2514;
	font-size: 18px;
}
.burger-type h3{
	font-family: 'Bebas Neue', cursive;
	font-size: 42px;
	font-weight: 400;
	color:#3d2514;
	text-transform: uppercase; 
}

.burger-type button{
	background:#bf2222;
	font-family:'Montserrat', sans-serif;
	color: white;
	text-transform: uppercase;
	font-weight: 400;
	padding: 12px 25px;
	border: none;
}
/*event section css code start here*/
.events{
	width: 100%;
	padding: 40px 0;	
}
.events h6{
	font-family: 'Bebas Neue', cursive;
	font-size: 28px;
	font-weight: 400;
	color:#3d2514;
	text-transform: uppercase;
}
.events h1{
	ont-family: 'Bebas Neue', cursive;
	font-size: 42px;
	font-weight: bold;
	color:#3d2514;
	text-transform: uppercase;
}
.events p{
	font-family: 'Montserrat', sans-serif;
	color:#3d2514;
	font-size: 18px;
}
.shadow1{
	padding: 24px;
	box-shadow: 12px 12px 14px 0px rgba(0,0,0,0.3)
}
/*table section css code start from here*/
.table{
	position: relative;
	
}